{% extends "masterpage.html" %} {% block title %}Login{% endblock %}

{% block content %}
<div class="reg-login-card">
    <form class="form" method="POST">
        <div class="title-center">
            <p class="reg-login-title">Login</p>
        </div> 
                
        <label>
            <input type="email" class="input" id="login_email" name="login_email" placeholder="" value="{{ request.form['login_email'] }}" required="">
            <span>Email</span>
        </label> 
            
        <label>
            <input type="password" class="input" id="login_password" name="login_password" placeholder="" required="">
            <span>Password</span>
        </label>

        <button class="submit">Login</button>
        <p class="reg-login-bot-msg">Don't have an acount? <a href="/reg">Register</a> </p>
    </form>
</div>

{% endblock %}