{% extends "masterpage.html" %} {% block title %}Register{% endblock %}

{% block content %}
<div class="reg-login-card">
    <form class="form" method="POST">
        <div class="title-center">
            <p class="reg-login-title">Register</p>
        </div>

        <div class="flex">
            <label>
                <input type="text" class="input" id="register_firstName" name="register_firstName" placeholder="" value="{{ request.form['register_firstName'] }}" required="">
                <span>First name</span>
            </label>

            <label>
                <input type="text" class="input" id="register_lastName" name="register_lastName" placeholder="" value="{{ request.form['register_lastName'] }}" required="">
                <span>Last name</span>
            </label>
        </div>  
                
        <label>
            <input type="email" class="input" id="register_email" name="register_email" placeholder="" value="{{ request.form['register_email'] }}" required="">
            <span>Email</span>
        </label> 
            
        <label>
            <input type="password" class="input" id="register_password" name="register_password" placeholder="" required="">
            <span>Password</span>
        </label>
        <label>
            <input type="password" class="input" id="register_confirmPassword" name="register_confirmPassword" placeholder="" required="">
            <span>Confirm password</span>
        </label>

        <button class="submit">Submit</button>
        <p class="reg-login-bot-msg">Already have an acount? <a href="/login">Sign in</a> </p>
    </form>
</div>

{% endblock %}
